.item {
    display: flex;
    align-items: center;
    height: 100px;

    img {
        max-height: 80px;
        vertical-align: middle;
    }

    &--action-buttons {
        padding-right: 1.5rem;

        button:not(:last-of-type) {
            margin-right: 5px;
        }
    }
}
