.loading-spinner {
    margin: -24px auto 0;
    width: 90px;
    text-align: center;

    & > div {
        width: 18px;
        height: 18px;
        margin: 0 5px;
        background-color: #ffffff;
        border-radius: 100%;
        display: inline-block;
        animation: bounce-delay 1.4s infinite ease-in-out both;
    }

    .bounce-ball {
        &-1 {
            animation-delay: -0.32s;
        }

        &-2 {
            animation-delay: -0.16s;
        }
    }   
}
  
@keyframes bounce-delay {
    0%, 80%, 100% { 
      transform: scale(0);
    } 40% { 
      transform: scale(1.0);
    }
}
