.hero {
    &.is-info {
        background: #36D1DC;
        background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
        background: linear-gradient(to right, #5B86E5, #36D1DC);

        .title {
            color: hsl(192, 17%, 99%);
        }
    }
}
